{% extends 'base.html' %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}


{% block top_content %}
    <div class="container">
        <div class="jumbotron">
          <h1>You are about to delete {{ restaurant.name }}</h1>
        </div>
    </div>
{% endblock %}


{% block main_content %}
    <!-- START THE FEATURETTES -->

        <div class="container">
            <form method="POST" action="{{ url_for('deleteRestaurant', restaurant_id=restaurant.id) }}" role="form" class="form-horizontal">
                <div class="col-sm-10">
                    <div class="form-group">
                        <label>Are you sure?</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Yes, delete it!" class="btn btn-danger" />
                        <a href="{{ url_for('showMenu', restaurant_id=restaurant.id) }}" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </form>
        </div>

      <!-- /END THE FEATURETTES -->
{% endblock %}